In [4]:
import pandas as pd

df_emissions_eur = pd.read_excel('SIEVO JUNCTION Emissions per EUR.xlsx')
df_emissions_uom = pd.read_excel('SIEVO JUNCTION Emissions per UOM.xlsx')
df_spend_data = pd.read_excel('SIEVO JUNCTION Spend data.xlsx')

df_emissions_eur

,ActivityId,Process,Ref. Unit,CO2eq_kg
0,1,Additives/Blending Components,EUR,0.657714
1,2,Air transport services,EUR,1.515616
2,3,Aluminium and aluminium products,EUR,0.928844
3,4,Animal products nec,EUR,0.756290
4,5,average of all flows,EUR,8.293650
...,...,...,...,...
72,73,Textiles,EUR,0.426775
73,74,Transportation services via pipelines,EUR,2.661124
74,75,"Vegetables, fruit, nuts",EUR,0.322467
75,76,"Wholesale trade and commission trade services,...",EUR,0.348798
76,77,Wood and products of wood and cork,EUR,0.553206

In [6]:
df_emissions_uom

                                        Product UOM  CO2-eq kg
0                       [sulfonyl]urea-compound  kg  11.665704
1                      [thio]carbamate-compound  kg  10.359657
2                  1,1-difluoroethane, HFC-152a  kg   6.500468
3                      1,1-dimethylcyclopentane  kg   0.755999
4                                    1-pentanol  kg   4.158716
...                                         ...  ..        ...
1419                          zinc coat, pieces  m2   6.325112
1420  zinc coat, pieces, adjustment per micro-m  m2   0.070987
1421                           zinc concentrate  kg   0.367463
1422                               zinc sulfide  kg   1.831444
1423                                   zucchini  kg   0.245551

[1424 rows x 3 columns]

In [5]:
df_spend_data

,SourceRowId,Date,DocumentId,DocumentLineId,ProductId,ProductName,SpendOriginalCurrency,OriginalCurrency,SpendEUR,Quantity,UOM,VendorId,VendorName,VendorCity,VendorCountry,CategoryL1,CategoryL2
0,69041,44019,DOC235E1967D43,2,NaN,NaN,14445.796860,EUR,14445.796860,NaN,NaN,35,AC NIELSEN GmbH.,WIEN,AT,Indirect,Professional Services
1,69042,44022,DOC2E92F738F42,2,NaN,NaN,42631.120576,EUR,42631.120576,NaN,NaN,35,AC NIELSEN GmbH.,WIEN,AT,Indirect,Professional Services
2,69043,44023,DOC2CD16DF9B16,2,NaN,NaN,42631.120576,EUR,42631.120576,NaN,NaN,35,AC NIELSEN GmbH.,WIEN,AT,Indirect,Professional Services
3,69044,44015,DOC25014385EC6,2,NaN,NaN,14445.796860,EUR,14445.796860,NaN,NaN,35,AC NIELSEN GmbH.,WIEN,AT,Indirect,Professional Services
4,69045,44015,DOC2EE4B883E50,2,NaN,NaN,419.123700,EUR,419.123700,NaN,NaN,35,AC NIELSEN GmbH.,WIEN,AT,Indirect,Professional Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13803,82844,44016,DOC2220D161149,2,NaN,NaN,753.984912,EUR,753.984912,NaN,NaN,45,Dachser - Austria GmbH.,Himberg,AT,Indirect,Fleet
13804,82845,44018,DOC2EAA9A28767,2,NaN,NaN,362.016562,EUR,362.016562,NaN,NaN,45,Dachser - Austria GmbH.,Himberg,AT,Indirect,Fleet
13805,82846,44018,DOC200BC612928,2,NaN,NaN,7336.458091,EUR,7336.458091,NaN,NaN,45,Dachser - Austria GmbH.,Himberg,AT,Indirect,Fleet
13806,82847,44019,DOC2C0C030603B,2,NaN,NaN,362.016562,EUR,362.016562,NaN,NaN,45,Dachser - Austria GmbH.,Himberg,AT,Indirect,Fleet
13807,82848,44019,DOC2D7E340B54A,2,NaN,NaN,7336.458091,EUR,7336.458091,NaN,NaN,45,Dachser - Austria GmbH.,Himberg,AT,Indirect,Fleet